{{ define "main" }}
<div class="mdc-card">
    <div class="mdc-card__media">
        {{ $url := .RelPermalink }}
        
        {{ if ne (hasPrefix $url "/about") true }}
        <div class="">
            <h1 class="mdc-typography--headline5 mdc-theme--text-primary-on-background title">
                {{ .Title }}
            </h1>
            <div class="mdc-typography--subtitle2 mdc-theme--text-secondary-on-background subtitle">
                <span class="material-icons subtitle-icon">date_range</span>
                <span class="date">{{ .Date.Format .Site.Params.i4o.dateFormatFull }}</span>
                <span class="material-icons subtitle-icon">access_time</span>
                <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>
            </div>
        </div>
        {{ end }}

        <div class="mdc-theme--text-primary-on-background">
        {{ .Content }}
        </div>

        <div class="post-footer">
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>
    </div>
</div>

{{ if eq .Type "posts"}}
    {{ if .Site.DisqusShortname -}}
    <div id="fb_comments_container">
        <h2>{{ i18n "comments" }}</h2>
        {{ template "_internal/disqus.html" . }}
    </div>
    {{- end }}
    {{- if eq .Site.Params.utteranc.enable true -}}
    <div id="utter-container"></div>
    <script src="https://utteranc.es/client.js" repo='{{ .Site.Params.utteranc.repo }}'
        issue-term="{{ .Site.Params.utteranc.issueTerm }}" theme='{{ .Site.Params.utteranc.theme }}'
        crossorigin="anonymous" async>
        </script>
    {{- end }}
    {{ end }}
{{ end }}