@charset "UTF-8";

:root {
    --mdc-theme-primary: #6200ee;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

html[data-theme='dark'] {
  --mdc-theme-background: #292a2d;
  --mdc-theme-text-primary-on-background: #fff;
  --mdc-theme-text-secondary-on-background: #ddd;
}

html {
  background-color: var(--mdc-theme-background);
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--body-color);
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  width: 100%;
  margin: 0;
  background-color: var(--mdc-theme-background);
}

/* reset */
p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
    opacity: 1;
    color: var(--tag-color);
}

a:hover,
a:active {
    color: var(--hightlight-color);
}


blockquote {
  padding: 0 1em;
  border-left: .25em solid var(--blockquote-border-color);
  color: var(--blockquote-text-color);
}

pre {
  background-color: var(--pre-bg-color);
  padding: 5px;
  display: block;
  overflow-x: auto;
}

/* override mdc */
@media (max-width: 599px){
  .mdc-top-app-bar__section {
    padding: 8px;
  }
}

/* drawer */
.mdc-list-item i {
  margin-right: 8px;
}

.main-content {
  margin: 1em;
}

.main-content .mdc-card {
  padding: 1em;
  margin-bottom: 1em;
}