@charset "UTF-8";

:root {
    --bg-color: #fff;
}

html[data-theme='dark'] {
  --bg-color: #292a2d;
}

html {
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--body-color);
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
}