<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__content">
    <div class="mdc-drawer__header">
      <button class="mdc-icon-button material-icons drawer-close-icon">
        close
      </button>
      {{/*  <span class="mdc-top-app-bar__title">{{ .Site.Params.Title }}</span>  */}}
    </div>
    <div class="profile">
      <img src="{{ .Site.Params.profilePicture | absURL }}" alt="profile picture">
      <h4><a href="/">{{ .Site.Params.author }}</a></h4>
      <div class="description">
          <p>{{ .Site.Params.description }}</p>
      </div>
    </div>
    <nav class="mdc-list">
      {{ $url := .RelPermalink }}
      {{ range .Site.Menus.main }}
      {{ $active := eq $url .URL }}
      <a {{if $active }}class="mdc-list-item mdc-list-item--activated"{{else}}class="mdc-list-item"{{end}} href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i class=\"material-icons-outlined md-24\">%s</i>" .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        <span class="mdc-list-item__text">{{ .Name }}</span>
      </a>
      {{ end }}
    </nav>
    <div class="copyright">
      <div class="author">&copy; {{ if .Site.Params.since -}} {{ .Site.Params.since }}-{{- end }}{{ now.Format "2006"}} 
          <a href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a>
      </div>
    </div>
  </div>
</aside>

<div class="mdc-drawer-scrim"></div>