<div class="mdc-drawer-scrim"></div>
<div class="mdc-drawer-app-content"> <!-- mdc-drawer-app-content -->
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">{{ .Site.Params.Title }} - {{ .Site.Params.description }}</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Bookmark this page">
          search
        </button>
      </section>
    </div>
  </header>
  <main id="main-content" class="main-content"> <!-- #main-content -->
    <div class="mdc-top-app-bar--fixed-adjust"> <!-- mdc-top-app-bar--fixed-adjust -->
    