{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<ul class="pagination">
  {{ with $pag.First -}}
  <li class="page-item {{ if eq $pag.PageNumber 1 }}disabled {{ end }}">
    {{ if ne $pag.PageNumber 1 }}<a href="{{ .URL }}" class="page-link" aria-label="First">{{ end }}
      <span class="material-icons subtitle-icon">first_page</span>
    {{ if ne $pag.PageNumber 1 }}</a>{{ end }}
  </li>
  {{ end -}}
  <li class="page-item {{ if not $pag.HasPrev }} disabled {{ end }}">
    {{ if $pag.HasPrev }}<a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="Previous">{{ end }}
      <span class="material-icons subtitle-icon">chevron_left</span>
    {{ if $pag.HasPrev }}</a>{{ end }}
  </li>

  {{- $ellipsed := false -}}
  {{- $shouldEllipse := false -}}
  {{- range $pag.Pagers -}}
  {{- $right := sub .TotalPages .PageNumber -}}
  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
  {{- if $showNumber -}}
    {{- $ellipsed = false -}}
    {{- $shouldEllipse = false -}}
  {{- else -}}
    {{- $shouldEllipse = not $ellipsed -}}
    {{- $ellipsed = true -}}
  {{- end -}}
  {{- if $showNumber }}
  <li class="page-item{{ if eq . $pag }} active{{ end }}">
    <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
  </li>
  {{- else if $shouldEllipse }}
  <li class="page-item disabled">
    <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
  </li>
  {{- end -}}
  {{- end }}

  {{/*  <li class="page-item active"><a class="page-link" href="/">1</a></li>
  <li class="page-item"><a class="page-link" href="/page/2/">2</a></li>
  <li class="page-item"><a class="page-link" href="/page/3/">3</a></li>
  <li class="page-item disabled"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
  <li class="page-item"><a class="page-link" href="/page/5/">5</a></li>  */}}
  <li class="page-item {{ if not $pag.HasNext }}disabled{{ end }}">
    {{ if $pag.HasNext }}<a href="{{ $pag.Next.URL }}" class="page-link" aria-label="Next">{{ end }}
      <span class="material-icons subtitle-icon">chevron_right</span>
    {{ if $pag.HasNext }}</a>{{ end }}
  </li>
  {{- with $pag.Last }}
  <li class="page-item {{ if eq $pag.PageNumber $pag.TotalPages }}disabled {{ end }}">
    {{ if ne $pag.PageNumber $pag.TotalPages }}<a href="{{ .URL }}" class="page-link" aria-label="Last">{{ end }}
      <span class="material-icons subtitle-icon">last_page</span>
    {{ if ne $pag.PageNumber $pag.TotalPages }}</a>{{ end }}
  </li>
  {{- end }}
</ul>
{{ end }}