{{ define "main" }}

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
<div class="mdc-card">
    <div class="mdc-card__media">
        <div class="">
            <h1 class="mdc-typography--headline5 mdc-theme--text-primary-on-background title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            <div class="mdc-typography--subtitle2 mdc-theme--text-secondary-on-background subtitle">
                <span class="material-icons subtitle-icon">date_range</span>
                <span class="date">{{ .Date.Format .Site.Params.anatole.dateFormatWeek }}</span>
            </div>
        </div>
        <!-- p -->
        <p class="mdc-theme--text-primary-on-background">{{ .Summary }}</p>
        <div class="mdc-typography--subtitle2 mdc-theme--text-secondary-on-background post-tags">
            {{ with .Params.categories }}
            {{- range $index, $el := . -}}
            <a class="category" href="{{ ( printf "categories/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
            {{- end -}}
            {{ end }}

            {{ with .Params.tags }}
            {{- range $index, $el := . -}}
            <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
            {{- end -}}
            {{ end }}
        </div>
    </div>
    


    {{/*  <div class="post-title">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
</div>
<div class="meta">
    <div class="info"><em class="far fa-calendar-alt"></em><span
            class="date">{{ .Date.Format .Site.Params.anatole.dateFormatWeek }}</span>
        {{ with .Params.tags }}
        {{- range $index, $el := . -}}
        <a class="tag" href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
        {{- end -}}
        {{ end }}
    </div>
</div> */}}

{{/*  <div class="post-content">
        <div class="p_part">
            <p>{{ .Summary }}</p>
</div>

<div class="p_part">
    <p></p>
</div>
</div> */}}
</div>
{{ end }}
<div>
    {{- partial "pagination.html" . -}}
    {{/*  {{ template "_internal/pagination.html" . }} */}}
</div>
{{ end }}